[Desktop Entry]
Type=Application
Name=NOX
Comment=Secure messaging
Exec=nox
Icon=nox
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=nox
